html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.forms-body {
    background-image: url("../assets/imgs/paysage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

#signin-div {
    height: 100%;
    width: 100%;
    padding: 6em 2.5em;
}

#signup-div {
    height: 100%;
    width: 100%;
    padding: 4em 2.5em;
}

#create-post-div {
    height: 100%;
    width: 100%;
    padding: 2.5em 2.5em;
}

.form-div>form {
    margin: 0 auto;
    padding: 4em;
}

.form-div form h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.form-check-label:checked {
    background-color: #6b95d3 !important;
    border-color: #6b95d3 !important;
}

.sign-in {
    background-color: #6b95d3;
}

.sign-in:hover {
    background-color: #7eaffa;
}

.form-div p>a {
    color: #6b95d3;
    transition: all 0.2s;
}

.form-div p>a:hover {
    color: #7eaffa;
    transition: all 0.2s;
}

.error-msg {
    text-align: center;
    font-size: 17px;
    color: #eb1400;
}