#post {
    margin-top: 3.5em;
}

.post-image {
    background-position: center;
    background-size: cover;
}

.post-article {
    margin-bottom: 30px;
}

.post-div {
    flex: 1;
}

.post-div div strong>span {
    font-size: 13px;
}

.post-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-actions>a, .post-actions form>button {
    font-size: 14.5px;
}