.banner {
    min-height: 40vh;
    background-image: url("../../assets/imgs/profile/placeholder-picture.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container>#profile-div {
    margin-top: 9px;
}

#profile-nav li>figure {
    width: 7% !important;
    position: absolute;
    top: 335px;
    margin-left: 20px;
}

#profile-nav figure>img {
    border: 6px solid #fff;
}

.username-profile {
    margin-left: 145px;
}

#settings-link>a {
    font-size: 15px;
    padding: 6.5px 15px 6.5px 15px;
    border-radius: 5px;
    transition: all 0.2s;
}

#posts-btn {
    margin-top: 2.5em;
}

.profile-btn>a {
    font-size: 16.5px;
    padding: 8px 17px 8px 17px;
    border-radius: 5px;
    transition: all 0.2s;
}

.fa-plus,
.fa-minus,
.fa-arrow-right-from-bracket,
.fa-gear {
    font-size: 14px;
    margin-right: 7px;
}

#post {
    margin-top: 3.5em;
}

.post-actions>a, .post-actions form>button {
    font-size: 14.5px;
}

// .subscribe-btn:before {
//     font-family: "Font Awesome 5 Free";
//     content: "\f0f3";
//     padding-right: 8px;
//     font-weight: 900;
//     color: #6C757D;
// }

// .subscribe-btn:before:hover {
//     font-family: "Font Awesome 5 Free";
//     content: "\f0f3";
//     padding-right: 8px;
//     font-weight: 900;
//     color: #fff;
// }

// .post-height {
//     height: 60vh;
// }

.post-image {
    background-position: center;
    background-size: cover;
}

#categories {
    border: 1px solid #5d5d5d;
    color: #5d5d5d;
}