<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil - Blog Bootstrap
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="/style/main.css">
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "inc/_header.html.twig" %}
		{% endblock %}

		{% block body %}
			{% block main %}{% endblock %}
		{% endblock %}

		{% include "inc/_footer.html.twig" %}
	</body>
</html>
