{% block footer %}
	<footer class="bg-dark text-light d-flex align-items-center justify-content-center">
		<p class="m-0 text-center">Travail réalisé par
			<a href="https://github.com/Luna-bf" target="_blank" class="text-decoration-none">Luna</a>.</p>
	</footer>
{% endblock %}
