{% extends 'base.html.twig' %}

{% block title %}Votre profil - Blog Bootstrap{% endblock %}

{% block body %}
    {# Début MAIN #}
    <main class="container">
        <div class="banner"></div>
        <div class="d-flex flex-row justify-content-between mb-2" id="profile-div">
            <ul class="list-unstyled d-flex flex-row justify-content-center justify-content-between" id="profile-nav">
                <figure><img src="../assets/imgs/profile/default-pfp.png" alt="Default profile picture" class="w-100 rounded-circle"></figure>
                </li>
                <li class="fs-5 align-items-center username-profile">
                    {% if not is_granted("ROLE_USER") %}
                        <a href="#">Nom d'utilisateur<a>
                    {% else %}
                        <a href="#">{{ app.user.username }}<a>
                    {% endif %}
                </li>
            </ul>
            <div class="d-flex flex-row align-items-center list-unstyled">
                <a href="logout.php" class="me-3 text-decoration-none" id="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Se déconnecter</a>
                {# <li class="btn btn-sm btn-outline-secondary mt-2 subscribe-btn">S'abonner</li> #}
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center" id="posts-btns">
            <a href="{{ path('post_create') }}" class="me-4 btn btn-outline-success"><i class="fa-solid fa-plus"></i>Créer un nouveau post</a>
            <a href="#" class="delete-posts"><i class="fa-solid fa-minus"></i>Supprimer des posts</a>
        </div>
        <div class="row mb-5" id="posts">
            <div>
                <ul class="list-unstyled d-flex flex-row justify-content-between">
                    <li class="fs-2">Posts</li>
                    <li>
                        <select name="categories" id="categories" class="form-select">
                            <option value="categorie" selected disabled>-- Catégories --</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    {# Fin MAIN #}
{% endblock %}
